<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= html_import_tag 'application'%>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--<nav class="navbar navbar-inverse navbar-static-top" role="navigation">-->
  <!--  <div class='container'>-->
  <!--    <div class="navbar-header">-->
  <!--      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">-->
  <!--        <span class="sr-only">Toggle navigation</span>-->
  <!--        <span class="icon-bar"></span>-->
  <!--        <span class="icon-bar"></span>-->
  <!--        <span class="icon-bar"></span>-->
  <!--      </button>-->
  <!--      <%= link_to root_path, class: 'navbar-brand' do %>-->
  <!--        <i class="fa fa-users"></i>-->
  <!--        Dev Match-->
  <!--      <% end %>-->
  <!--    </div>-->
  <!--    <div class="collapse navbar-collapse" id="main-nav-collapse">-->
  <!--      <div class="nav navbar-nav navbar-right">-->
  <!--        <% if user_signed_in? %>-->
  <!--          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>-->
  <!--        <% else %>-->
  <!--          <paper-button raised><%= link_to "Log In", new_user_session_path, method: :get %></paper-button>-->
  <!--        <% end %>-->
  <!--      </div>-->
  <!--      <ul class="nav navbar-nav navbar-right">-->
  <!--        <% if user_signed_in? %>-->
  <!--          <li><%= link_to "Community", users_path %></li>-->
  <!--          <li><%= link_to "My Account", edit_user_registration_path %></li>-->
  <!--        <% end %>-->
  <!--        <li><%= link_to "About", about_path %></li>-->
  <!--        <li><%= link_to "Contact Us", new_contact_path %></li>-->
  <!--      </ul>-->
  <!--    </div><!-- /.navbar-collapse -->-->
  <!--  </div>-->
  <!--</nav>-->
  <!--<div class="container">-->
  <!--  <% flash.each do |key, value| %>-->
  <!--    <%= content_tag :div, value, class: "alert alert-#{key}" %>-->
  <!--  <% end %>-->
  <!--  <%= yield %>-->
  <!--</div>-->
  <core-scaffold id="core_scaffold">
    <core-header-panel mode="seamed" id="core_header_panel" navigation flex>
      <core-toolbar id="core_toolbar">
        <core-field id="core_field" icon="search" theme="core-light-theme" center horizontal layout>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-users"></i>
            Dev Match
          <% end %>
        </core-field>
      </core-toolbar>
      <core-menu selected="Roadmap" valueattr="label" selectedindex="0" id="core_menu" theme="core-light-theme">
        <% if user_signed_in? %>
          <core-item id="core_item" icon="supervisor-account" label="Community" horizontal center layout><%= link_to "", users_path %></core-item>
          <core-item id="core_item1" icon="account-box" label="My Account" horizontal center layout><%= link_to "", edit_user_registration_path %></core-item>
        <% end %>
        <core-item id="core_item2" icon="settings" label="About" horizontal center layout><%= link_to "", about_path %></core-item>
        <core-item id="core_item3" icon="mail" label="Contact Us" horizontal center layout><%= link_to "", new_contact_path %></core-item>
        <% if user_signed_in? %>
           <core-item id="core_item4" icon="mail" label="Sign Out" horizontal center layout><%= link_to "", destroy_user_session_path, method: :delete %></core-item>
        <% else %>
         <core-item id="core_item5" icon="settings" label="Log In" horizontal center layout><%= link_to "", new_user_session_path, method: :get %></core-item>
        <% end %>
      </core-menu>
    </core-header-panel>
    <div class="container">
      <% flash.each do |key, value| %>
        <paper-toast text="<%= value %>" opened=true></paper-toast>
      <% end %>
      <%= yield %>
    </div>
    
  </core-scaffold>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
